<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav centerContainer">
    <li class="nav-item">
      <a class="navbar-brand">Championship 2017/18</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLinkActive]="['active']" routerLink="/leaguetable">League Table</a>
    </li>
    <li class="nav-item dropdown" style="cursor: pointer;">
      <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown" [class.active]="getSelectedStanding()">
        {{(getSelectedStanding()) ? getSelectedStanding().teamName : 'Team'}}
      </a>
      <div class="dropdown-menu">
        <!-- Display text if still loading data -->
        <ng-container *ngIf="!standings">
          <a class="dropdown-item">Querying server...</a>
        </ng-container>
        <!-- Else, display list of teams -->
        <ng-container *ngIf="standings">
          <!-- Add class selected when that option is already selected*/ -->
          <a [routerLinkActive]="['active']" *ngFor="let i of standings" routerLink="/team/{{getTeamID(i)}}" class="dropdown-item">{{i.teamName}}</a>
        </ng-container>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLinkActive]="['active']" routerLink="/team-comparison">Compare Teams</a>
    </li>
  </ul>
</nav>
