<h1>Compare Teams</h1>
<span class="dropdown">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
    {{teamAStanding ? teamAStanding.teamName : 'Select team'}}
  </button>
  <span class="dropdown-menu">
    <!-- Display text if still loading data -->
    <ng-container *ngIf="!standings">
      <a class="dropdown-item">Querying server...</a>
    </ng-container>
    <!-- Else, display list of teams -->
    <ng-container *ngIf="standings">
      <a *ngFor="let i of standings" class="dropdown-item" [class.active]="i === teamAStanding" [class.text-bold]="i === teamBStanding" (click)="setTeamAStanding(i)">{{i.teamName}}</a>
    </ng-container>
  </span>
</span>
<span style="font-size: 16px">&nbsp; VS &nbsp;</span>
<span class="dropdown">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
    {{teamBStanding ? teamBStanding.teamName : 'Select team'}}
  </button>
  <span class="dropdown-menu">
    <!-- Display text if still loading data -->
    <ng-container *ngIf="!standings">
      <a class="dropdown-item">Querying server...</a>
    </ng-container>
    <!-- Else, display list of teams -->
    <ng-container *ngIf="standings">
      <a *ngFor="let i of standings" class="dropdown-item" [class.active]="i === teamBStanding" [class.text-bold]="i === teamAStanding" (click)="setTeamBStanding(i)">{{i.teamName}}</a>
    </ng-container>
  </span>
</span>

<ng-container *ngIf="teamAStanding && teamBStanding">
  <br>
  <br>
  <h2>Performance Comparison</h2>

  <table class="standings table table-responsive-sm text-center performance-comparison-table">
    <thead class="thead-light">
    <tr>
      <th>Team</th>
      <td><img src ="{{teamAStanding.crestURI? teamAStanding.crestURI.replace('http://', 'https://') : ''}}" onError="src='/assets/questionMark.png';" height="30px"> {{teamAStanding.teamName}}</td>
      <td><img src ="{{teamBStanding.crestURI? teamBStanding.crestURI.replace('http://', 'https://') : ''}}" onError="src='/assets/questionMark.png';" height="30px"> {{teamBStanding.teamName}}</td>
    </tr>
    <tr>
      <th>Rank</th>
      <td>{{teamAStanding.position}}</td>
      <td>{{teamBStanding.position}}</td>
    </tr>
    <tr>
      <th>Games Played</th>
      <td>{{teamAStanding.playedGames}}</td>
      <td>{{teamBStanding.playedGames}}</td>
    </tr>
    <tr>
      <th>Points</th>
      <td>{{teamAStanding.points}}</td>
      <td>{{teamBStanding.points}}</td>
    </tr>
    <tr>
      <th>Goals</th>
      <td>{{teamAStanding.goals}}</td>
      <td>{{teamBStanding.goals}}</td>
    </tr>
    <tr>
      <th>Goals Against</th>
      <td>{{teamAStanding.goalsAgainst}}</td>
      <td>{{teamBStanding.goalsAgainst}}</td>
    </tr>
    <tr>
      <th>Goal Difference</th>
      <td>{{teamAStanding.goalDifference}}</td>
      <td>{{teamBStanding.goalDifference}}</td>
    </tr>
    <tr>
      <th>Wins</th>
      <td>{{teamAStanding.wins}}</td>
      <td>{{teamBStanding.wins}}</td>
    </tr>
    <tr>
      <th>Draws</th>
      <td>{{teamAStanding.draws}}</td>
      <td>{{teamBStanding.draws}}</td>
    </tr>
    <tr>
      <th>Losses</th>
      <td>{{teamAStanding.losses}}</td>
      <td>{{teamBStanding.losses}}</td>
    </tr>
    </thead>
  </table>
</ng-container>

<ng-container *ngIf="teamAStanding && teamBStanding && fixtures">
  <h2>Head to Head Results</h2>
  <div class=table-responsive-sm>
    <table class="standings table text-center performance-comparison-table">
      <thead class="thead-light">
      <tr>
        <th>Goals</th>
        <td>{{getNumGoals(teamAStanding)}}</td>
        <td>{{getNumGoals(teamBStanding)}}</td>
      </tr>
      <tr>
        <th>Wins</th>
        <td>{{getNumWins(teamAStanding)}}</td>
        <td>{{getNumWins(teamBStanding)}}</td>
      </tr>
      <tr>
        <th>Winner</th>
        <td colspan="2" class="text-bold">{{getWinner()}}</td>
      </tr>
      </thead>
    </table>
  </div>

  <h2>Shared Games</h2>
  <table class="standings table table-responsive-sm text-center">
    <thead class="thead-light">
    <tr>
      <th>Date</th>
      <th class="text-right">Home Team</th>
      <th>Goals</th>
      <th class="text-left">Away Team</th>
      <th>Winner</th>
    </tr>
    </thead>
    <tbody>
    <!--Display row for each team-->
    <tr *ngFor="let i of getFilteredFixtures()">
      <td>
        {{i.date.substring(8, 10)}}/{{i.date.substring(5, 7)}}/{{i.date.substring(0, 4)}}
      </td>
      <td class="text-right">
        {{i.homeTeamName}}
      </td>
      <td>
        {{i.result.goalsHomeTeam}} : {{i.result.goalsAwayTeam}}
      </td>
      <td class="text-left">
        {{i.awayTeamName}}
      </td>
      <td>
        {{getFixtureWinner(i)}}
      </td>
    </tr>
    </tbody>
  </table>
</ng-container>

<ng-container *ngIf="teamAStanding && teamBStanding && !fixtures">
  Querying server...
</ng-container>

