<!-- *ngIf means the div displays no information if object standing is null -->
<div *ngIf="standing">
  <h1><img src ="{{standing.crestURI? standing.crestURI.replace('http://', 'https://') : ''}}" onError="src='/assets/questionMark.png';" height="40px"> {{standing.teamName}}</h1>
  <h2>League Performance</h2>
  <table class="standings table table-responsive-sm text-center">
    <thead class="thead-light">
    <tr>
      <th>Rank</th>
      <th>Games Played</th>
      <th>Points</th>
      <th>Goals</th>
      <th>Goals Against</th>
      <th>Goal Difference</th>
      <th>Wins</th>
      <th>Draws</th>
      <th>Losses</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        {{standing.position}}
      </td>
      <td>
        {{standing.playedGames}}
      </td>
      <td>
        {{standing.points}}
      </td>
      <td>
        {{standing.goals}}
      </td>
      <td>
        {{standing.goalsAgainst}}
      </td>
      <td>
        {{standing.goalDifference}}
      </td>
      <td>
        {{standing.wins}}
      </td>
      <td>
        {{standing.draws}}
      </td>
      <td>
        {{standing.losses}}
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div *ngIf="!fixtures">
  Querying server...
</div>
<div *ngIf="fixtures">
  <h2>Last {{(fixtures.length > 5)? 5 : fixtures.length}} Games</h2>
  <table class="standings table table-responsive-sm text-center">
    <thead class="thead-light">
    <tr>
      <th style="width: 10%;">Match No</th>
      <th style="width: 25%;">Date</th>
      <th class="text-right" style="width: 20%;">Home Team</th>
      <th style="width: 15%;">Goals</th>
      <th class="text-left" style="width: 20%;">Away Team</th>
      <th style="width: 10%;">Result</th>
    </tr>
    </thead>
    <tbody>
    <!--Display row for each team-->
    <tr *ngFor="let i of (fixtures.reverse()).slice(0, (fixtures.length >= 5)? 5 : fixtures.length - 1)">
      <td>
        {{i.matchday}}
      </td>
      <td>
        {{i.date.substring(8, 10)}}/{{i.date.substring(5, 7)}}/{{i.date.substring(0, 4)}}
      </td>
      <td class="text-right">
        {{i.homeTeamName}}
      </td>
      <td>
        {{i.result.goalsHomeTeam}} : {{i.result.goalsAwayTeam}}
      </td>
      <td class="text-left">
        {{i.awayTeamName}}
      </td>
      <td>
        {{getFixtureResult(i)}}
      </td>
    </tr>
    </tbody>
  </table>
  <h2>Games This Season</h2>
  <table class="standings table table-responsive-sm text-center">
    <thead class="thead-light">
    <tr>
      <th style="width: 10%;">Match No</th>
      <th style="width: 25%;">Date</th>
      <th class="text-right" style="width: 20%;">Home Team</th>
      <th style="width: 15%;">Goals</th>
      <th class="text-left" style="width: 20%;">Away Team</th>
      <th style="width: 10%;">Result</th>
    </tr>
    </thead>
    <tbody>
    <!--Display row for each team-->
    <tr *ngFor="let i of fixtures.reverse()">
      <td>
        {{i.matchday}}
      </td>
      <td>
        {{i.date.substring(8, 10)}}/{{i.date.substring(5, 7)}}/{{i.date.substring(0, 4)}}
      </td>
      <td class="text-right">
        {{i.homeTeamName}}
      </td>
      <td>
        {{i.result.goalsHomeTeam}} : {{i.result.goalsAwayTeam}}
      </td>
      <td class="text-left">
        {{i.awayTeamName}}
      </td>
      <td>
        {{getFixtureResult(i)}}
      </td>
    </tr>
    </tbody>
  </table>
</div>

