<div *ngIf="standings">
<!--Display title-->
<h1>League Table</h1>
<!--Display league table-->
  <table class="standings table table-hover table-responsive-sm text-center" id="league-table">
    <thead class="thead-light">
      <tr>
        <th>Rank</th>
        <th>Crest</th>
        <th class="text-left">Name</th>
        <th>Games Played</th>
        <th>Points</th>
        <th>Goals</th>
        <th>Goals Against</th>
        <th>Goal Difference</th>
        <th>Wins</th>
        <th>Draws</th>
        <th>Losses</th>
      </tr>
    </thead>
    <tbody>
      <!--Display row for each team-->
      <tr *ngFor="let i of standings" routerLink="/team/{{getTeamID(i)}}" (click)="setSelectedStanding(i)">
        <td>
          {{i.position}}
        </td>
        <td>
          <img src="{{i.crestURI? i.crestURI.replace('http://', 'https://') : ''}}" onError="src='/assets/questionMark.png';" height="40px">
        </td>
        <td class="text-left">
          {{i.teamName}}
        </td>
        <td>
          {{i.playedGames}}
        </td>
        <td>
          {{i.points}}
        </td>
        <td>
          {{i.goals}}
        </td>
        <td>
          {{i.goalsAgainst}}
        </td>
        <td>
          {{i.goalDifference}}
        </td>
        <td>
          {{i.wins}}
        </td>
        <td>
          {{i.draws}}
        </td>
        <td>
          {{i.losses}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="!standings">
  Querying server...
</div>
