body
{
  font-size:14px;
}

h1
{
  font-size: 30px;
  margin-top: 0.25em;
  margin-bottom: 0.5em;
}

/*Class used to center contents with auto margins*/
.centerContainer
{
  width: 100%; /*As big as possible, but not bigger that 1400px*/
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

/* :active style drop down when click | .active styles the already clicked link */
a.dropdown-item:active, a.dropdown-item.active{
  background-color: lightslategray !important;
  color: white !important;
}

h2
{
  font-size:20px;
}

